  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
  background-color: rgb(171, 177, 210);
}
  .App{
  background-color: black;
  border-radius: 30px;
  border: 2px solid black;
  width: 320px;
  height: 490px;
  margin: 100px auto;
  box-shadow: 5px 10px 150px 20px rgb(0, 0, 0);
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
#answer{
  border: none;
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: right;
  margin-top: 2px;
  height: 70px;
  font-size: 35px;
  padding: 10px;
  margin-bottom: 2px;
  width: 295px;
  border-radius: 20px;
  border: 1px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#answer::placeholder {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 4px;
  border-radius: 100% 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(56, 54, 54);
  float: left;
  width: 70px;
  height: 70px;
  font-size: 30px;
}
.button:hover{
  border: 3px;
  border-radius: 100% 100%;
}
.button1{
  padding-left: 30px;
  text-align: left;
  width: 226px;
  border-radius: 30px;
}
.button1:hover{
  border: 3px;
  border-radius: 30px;
}
.Number{
  background-color: black;
}
.yello{
  color: rgb(255, 255, 255);
  background-color: rgb(247, 180, 55);
}
.gr{
  color: black;
  background-color: rgb(202, 196, 196);
}